@page
@model GameConsoles03
@{
    ViewData["Title"] = "Home page";
}

<h1>Game Consoles: 3rd Generation</h1>

<div>
    <ul>
        <li>Videopac+ G7400 (1983)</li>
        <li>My Vision (1983)</li>
        <li>Sega SG-1000 (1983)</li>
        <li>Nintendo Family Computer (1983)</li>
        <li>PV-1000 (1983)</li>
        <li>Super Cassette Vision (1984)</li>
        <li>BBC Bridge Companion (1985)</li>
        <li>Nintendo Entertainment System (1985)</li>
        <li>Sega Mark III (1985)</li>
        <li>Family Computer Disk System (1986)</li>
        <li>Atari 7800 (1986)</li>
        <li>Sega Master System (1986)</li>
        <li>Atari XEGS (1987)</li>
        <li>Action Max (1987)</li>
        <li>View-Master Interactive Vision (1988)</li>
        <li>VTech Socrates (1988)</li>
        <li>Amstrad GX4000 (1990)</li>
        <li>Commodore 64 Games System (1990)</li>
    </ul>
</div>