@page
@model GameConsoles01
@{
    ViewData["Title"] = "Home page";
}

<h1>Game Consoles: 1st Generation</h1>

<div>
    <ul>
        <li>Magnavox Odyssey</li>
        <li>Ping-O-Tronic (Late 1974)</li>
        <li>VideoSport MK2 (Late 1974/Early 1975)</li>
        <li>TV Tennis Electrotennis, released in July 1975.</li>
        <li>Magnavox Odyssey series (1975)</li>
        <li>Atari's Home Pong console, released through Sears in 1975</li>
        <li>Acetronic Telesports IV, part of the PC-50X Family (1975)</li>
        <li>Coleco Telstar Series (1976)</li>
        <li>APF TV Fun Series (1976)</li>
        <li>TV Master Series (1976)</li>
        <li>Bandai TV Jack Series (1977)</li>
        <li>Video Cassetti Rock (1977)</li>
        <li>Color TV-Game Series (1977)</li>
        <li>Турнир, read as "Turnir", meaning "tournament". (1978)</li>
        <li>BSS 01 (Bildschirmspiel 01), meaning "Screen game".(1980)</li>
    </ul>
</div>