@page
@model GameConsoles05
@{
    ViewData["Title"] = "Home page";
}

<h1>Game Consoles: 5th Generation</h1>

<div>
    <ul>
        <li>FM Towns Marty (1993)</li>
        <li>Amiga CD32 (1993)</li>
        <li>3DO Interactive Multiplayer (1993)</li>
        <li>Atari Jaguar (1993)</li>
        <li>Bandai Playdia (1994)</li>
        <li>Sega Saturn (1994)</li>
        <li>PlayStation (1994)</li>
        <li>PC-FX (1994)</li>
        <li>Apple Bandai Pippin (1995)</li>
        <li>Atari Jaguar CD (1995)</li>
        <li>Casio Loopy (1995)</li>
        <li>Nintendo 64 (1996)</li>
        <li>Nintendo 64DD (1999)</li>
    </ul>
</div>