@page
@model GameConsoles08
@{
    ViewData["Title"] = "Home page";
}

<h1>Game Consoles: 8th Generation</h1>

<div>
    <ul>
        <li>Wii U (2012)</li>
        <li>PlayStation 4 (2013)</li>
        <li>Xbox One (2013)</li>
        <li>Nintendo Switch (2017)</li>
    </ul>
</div>