@page
@model GameConsoles07
@{
    ViewData["Title"] = "Home page";
}

<h1>Game Consoles: 7th Generation</h1>

<div>
    <ul>
        <li>Game Wave (2005)</li>
        <li>Xbox 360 (2005)</li>
        <li>Mattel Hyperscan (2006)</li>
        <li>PlayStation 3 (2006)</li>
        <li>Wii (2006)</li>
    </ul>
</div>