@page
@model GameConsoles02
@{
    ViewData["Title"] = "Home page";
}

<h1>Game Consoles: 2nd Generation</h1>

<div>
    <ul>
        <li>Fairchild Channel F (1976)</li>
        <li>RCA Studio II (1977)</li>
        <li>Bally Astrocade (1977)</li>
        <li>Atari 2600 (1977)</li>
        <li>APF-MP1000 (1978)</li>
        <li>VC 4000 (1978)</li>
        <li>Magnavox Odyssey 2 (1978)</li>
        <li>Intellivision (1980)</li>
        <li>VTech CreatiVision (1981)</li>
        <li>Epoch Cassette Vision (1981)</li>
        <li>Arcadia 2001 (1982)</li>
        <li>ColecoVision (1982)</li>
        <li>Atari 5200 (1982)</li>
        <li>Vectrex (1982)</li>
    </ul>
</div>