@page
@model GameConsoles04
@{
    ViewData["Title"] = "Home page";
}

<h1>Game Consoles: 4th Generation</h1>

<div>
    <ul>
        <li>PC Engine (1987)</li>
        <li>Sega Genesis (1988)</li>
        <li>CD-ROM, First console to use CD technology. (1988)</li>
        <li>TurboGrafx-16 (1989)</li>
        <li>TurboGrafx-CD (1989)</li>
        <li>PC Engine SuperGrafx (1989)</li>
        <li>Neo-Geo AES (1990)</li>
        <li>Super Famicom (1990)</li>
        <li>Commodore CDTV (1991)</li>
        <li>Super Nintendo Entertainment System (1991)</li>
        <li>CD-i (1991)</li>
        <li>Sega CD (1991)</li>
        <li>Sega Pico (1993)</li>
        <li>Pioneer LaserActive (1993)</li>
        <li>Neo-Geo CD (1994)</li>
        <li>Sega 32X (1994)</li>
        <li>Satellaview (1995)</li>
        <li>Super A'Can (1995)</li>
    </ul>
</div>