@page
@model GameConsoles06
@{
    ViewData["Title"] = "Home page";
}

<h1>Game Consoles: 6th Generation</h1>

<div>
    <ul>
        <li>Dreamcast (1998 in Japan, 1999 in other areas)</li>
        <li>Nuon (2000)</li>
        <li>PlayStation 2 (2000)</li>
        <li>GameCube (2001)</li>
        <li>Xbox (2001)</li>
        <li>IQue Player (2003)</li>
        <li>Xavix PORT (2004)</li>
        <li>VTech V.Smile (2004)</li>
    </ul>
</div>