@page
@model IndexModel
@{
    ViewData["Title"] = "Game Consoles";
}

<h1>History of Game Consoles</h1>

<div>
    Generations 1 through 7 (with overlaps)
    <ul>
        <li>
            <a asp-page="./GameConsoles01">First generation (1972–1980)</a>
        </li>
        <li>
            <a asp-page="./GameConsoles02">Second generation (1976–1992)</a>
        </li>
        <li>
            <a asp-page="./GameConsoles03">Third generation (1983–2003)</a>
        </li>
        <li>
            <a asp-page="./GameConsoles04">Fourth generation (1987–2004)</a>
        </li>
        <li>
            <a asp-page="./GameConsoles05">Fifth generation (1993–2005)</a>
        </li>
        <li>
            <a asp-page="./GameConsoles06">Sixth generation (1998–2013)</a>
        </li>
        <li>
            <a asp-page="./GameConsoles07">Seventh generation (2005–2017)</a>
        </li>
        <li>
            <a asp-page="./GameConsoles08">Eighth generation (2012–present)</a>
        </li>
    </ul>
</div>